body {
	background-image: url('../img/fond.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	font-family: "Comic Sans MS";
}

header {
	text-align: center;
}

.wrapper {
	margin: 0 auto;
	width: 800px;
	text-align: center;
	background-color: white;
	padding: 30px;
}


button {
	background-color: white;
	border: solid 1px black;
	padding: 8px;
	cursor: pointer;
}

button {
	background-color: #bada55;
}

.validate {
	margin-top: 30px;
	margin-bottom: 10px;
	padding: 15px 25px;
	transition: 0.4s;
}

.validate:hover {
	background-color: white;
	border-color: #bada55;
	color: #bada55;
}

.question button {
	background-color: white;
}

.question button.active {
	background-color: blue;
}

.box {
	padding: 20px;
	border: solid 1px black;
	height: 200px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.box input {
	display: block;
	position: relative;
	//top: 25px;
	width: 250px;
	margin: 0 auto;
	padding: 10px;
	box-sizing: border-box;
}

.epreuves li {
	list-style: none;
}

footer {
	margin-top: 20px;
	text-align: center;
}

.style_input {
	margin: 20px;
}

/*
*	Epreuve 1
*/

.quizz {
	margin: 20px 0;
	padding: 20px;
	border: solid 1px black;
}

.question {
	margin-top: 10px;
}
