body {
	background-image: url('../img/fond.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	font-family: "Comic Sans MS";
}

header {
	text-align: center;
}

.wrapper {
	margin: 0 auto;
	width: 800px;
	text-align: center;
	background-color: white;
	padding: 30px;
}

.wrapper_big {
	width: 1200px;
}


button {
	background-color: white;
	border: solid 1px black;
	padding: 8px;
	cursor: pointer;
}

button {
	background-color: #bada55;
}

.validate {
	margin-top: 30px;
	margin-bottom: 10px;
	padding: 15px 25px;
	transition: 0.4s;
}

.validate:hover {
	background-color: white;
	border-color: #bada55;
	color: #bada55;
}

.question button, .doublechoix button {
	background-color: white;
}

.question button.active, .doublechoix button.active {
	background-color: blue;
}

td {
	text-align: left;
}

.doublechoix button {
	background-color: white;
	width: 115px;
}
.doublechoix .bg_green.active {
	background-color: green;
}
.doublechoix .bg_red.active {
	background-color: red;
}

.box {
	padding: 20px;
	border: solid 1px black;
	height: 200px;
	padding-top: 30px;
	padding-bottom: 30px;
}

input {
	display: block;
	position: relative;
	//top: 25px;
	width: 250px;
	margin: 0 auto;
	padding: 10px;
	box-sizing: border-box;
}

.epreuves li {
	list-style: none;
}

footer {
	margin-top: 20px;
	text-align: center;
}

.style_input {
	margin: 20px;
}

.indice {
	margin-bottom: 20px;
}

/*
*	Epreuve 1
*/

.quizz {
	margin: 20px 0;
	padding: 20px;
	border: solid 1px black;
}

.question {
	margin-top: 10px;
}

.green {
	color: green;
}

.red {
	color: red;
}

.click {
	cursor: pointer;
}





.left, .right, .top, .bottom {
	width: 100%;
	height: 200px;
}

.left, .right {
	display: inline-block;
	width: 200px;
	height: 400px;
}

.supernem {
	display: inline-block;
	margin-top:;
}

.holes {
	text-align: left;
}


.holes input {
	display: inline-block;
	border: none;
	border-bottom: solid 1px black;
	outline-style: none;
	padding-bottom: 2px;
	width: 100px;
}

.number:before {
	content: "(n)";
	display: inline-block;
	color: red;
}
